@import url('./fonts.css');

body {
  font-family: 'Assistant', sans-serif;
}

.section {
  margin: 0 auto;
  width: 1200px;
  padding: 30px 0;
}

.section-header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--black);
}