@import url('./fonts.css');
@import url('./variables.css');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Assistant', sans-serif;
}

.section {
  margin: 0 auto;
  width: 1200px;
  padding-top: 30px;
  background-color: var(--light-blue);
}

.section:last-child {
  padding-bottom: 30px;
}

.section-header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--black);
}